div.container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    column-gap: 0.25rem;
    margin: 0.25rem;
}
div.control-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 0.25rem;
    margin: 0.25rem;
}