div.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: space-evenly;
    height: 100%;
}
h1 {
    font-size: 3rem;
}